#main_content{
    width: 100%;
    
}

#story_text{
    width: 95%;
    height: 300px;
    min-height: 300px;
    padding: 20px;
    margin: 20px;
}
.textfield{
    width: 95%;
    padding: 20px;
    margin: 20px;
}

#button_controls{
    text-align: right;
    padding-top: 10px;
    
}


.button{
    padding: 5px 20px 5px 20px;
    font-size: large;
    /*border: 1px solid #000000;*/
    border-radius: 5px;
    background-color: #4c5155;
    color: #ffffff;
}

.button_nav{
    padding: 5px 20px 5px 20px;
    width: 130px;
    font-size: large;
    /*border: 1px solid #000000;*/
    border-radius: 5px;
    background-color: #4c5155;
    color: #ffffff;
    margin-bottom: 10px;
}



#text_viewer{
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fafcff;
}

#concept_linker{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.concept_highlighted{
    background-color: yellow;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

.concept_highlighted_human{
    background-color: #9bc998;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

.concept_highlighted_animal{
    background-color: #e3b7c8;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

.concept_highlighted_exists_linked{
    background-color: green;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

.concept_highlighted_exists_not_linked{
    background-color: yellow;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

.inline_link_button{
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 15px;
}

.concept_highlighted_not_exists{
    background-color: red;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

.block_header{
    font-weight: bold;
}

.icon_image{
    width: 20px;
}

.rotate {
    
    /* transform: rotate(90deg); */
  
    
  }

.data_table{
    width: 100%;
}

.data_table tr th, td{
    padding: 5px;
    border-bottom: 1px dashed #000000;
    background-color: #fafcff;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: #e8eae6;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    display: none;
    /*to hide popup initially*/
}
  
.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 4px;
}

.body_style{
    background-color: #343b40;
}

#nav_header{
    background-color: #454c52;
    width: 100%;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}

#nav_sidebar{
    background-color: #454c52;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

.formtable{
    border: 0px;
    width: 90%;
    
}
.formtable tr td{
    border: 0px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 300px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 150px;
  }

  .tab button:hover {
    background-color: #ddd;
  }

  .linked_lists{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
    font-family: monospace;
    font-size: 16px;
    background-color: #ffffff;
  }

  .linked_lists_button{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
  }

  .linked_lists_button input{
    width: 120px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #000000;
  }

  .list_table{
    border-collapse:collapse;
    width: 100%;
  }

  .list_table tr td{
    border: 1px solid #000000;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
  }

  .list_table thead tr th{
    border: 1px solid #000000;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
  }

  .list_table tbody tr td{
    border: 1px solid #000000;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
  }

  .sub_list_table{
    border: 0px;
    width: 100%;
  }

  .sub_list_table tr td{
    border: 0px;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
  }

  .sub_list_table tr:nth-child(even) {
    background-color: #d3d3d3;
  }

  .list_table tr th{
    background-color: #d3d3d3;
    border: 1px solid #000000;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
  }

  .details_table tr td{
    border: 1px solid #000000;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
    font-weight: normal;
  }

  .details_data{
    border: 1px solid #000000;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
    font-weight: normal;
  }

  

  .locked{
    background-color: #d3d3d3;
  }

  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.topbar-container
{
    min-width: auto;
    width: 100%;
    display: flex;
    background-color: #fff;
    border-bottom: 1px, solid #000;
    /*background-color: rgb(165, 108, 42);*/
    /*background-image: url('images/headerbackground.png');*/
    position: fixed;
    align-items: center;
    padding: 4px 5%;
    z-index: 1;

    nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }
    
    .logo
    {
        width: 80px;
        cursor: pointer;
    }
    
    nav ul
    {
        list-style: none;
        width: 100%;
        text-align: right;
        padding-right: 30px;
    }
    
    nav ul li
    {
        display: inline-block;
        margin: 10px 20px;
    }
    
    nav ul li a
    {
        color: #000;
        text-decoration: none;
        font-family: monospace;
        font-size: 18px;
    }
}

.landing
{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideshow 40s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('images/slideshow/new1.jpg');
    
}

.landing-text
{
    color: white;
    position: absolute;
    align-items: left;
    top: 30%;
    padding: 50px 8%;
    font-family: monospace;
}

.landing-head
{
    font-size: 100px;
    text-shadow: 1px 1px 6px #333333;
    font-family: monospace;
}

.landing-sub
{
    font-size: 20px;
    text-shadow: 1px 1px 6px #333333;
    font-family: monospace;
}

@keyframes slideshow {
    0% {background-image: url('images/slideshow/new1.jpg');}
    25% {background-image: url('images/slideshow/new2.jpg');}
    50% {background-image: url('images/slideshow/new3.jpg');}
    75% {background-image: url('images/slideshow/new4.jpg');}
    100% {background-image: url('images/slideshow/new5.jpg');}
}

.about-section
{
    width: 100%;
    min-height: 120vh;
    background-color: rgb(196, 164, 132);
    background-image: url(images/headerbackground.jpg);
    text-align: center;
    padding: 100px 7%;
}

.hidden
{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show
{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.about-subsection
{
    text-align: left;
    font-weight: normal;
    font-family: monospace;
    font-size: 20px;
}

.contact-section
{
    width: 100%;
    min-height: 120vh;
    background-color: rgb(196, 164, 132);
    background-image: url(images/headerbackground.jpg);
    text-align: center;
    padding: 100px 7%;
}

.import-view-background
{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('images/webbackground.jpg');
}



.start-the-journey-text
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 3px #333333;
    font-family: monospace;
}


.import-view-buttons
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.import-data-button
{
    background-color: white;
    font-size: 22px;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
}

.import-data-button:hover
{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0 ,0.15);
}

.view-data-button
{
    background-color: white;
    font-size: 22px;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25.36px;
    padding-right: 25.36px;
    transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
}

.view-data-button:hover
{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0 ,0.15);
}

.import-image
{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('images/Upload\ File.png');
}

.top-spacer{
    height: 130px;
}

.form-field{
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    font-weight: normal;
}

.form-button{
    min-width: 150px;
    padding: 10px;
    border-radius: 15px;
    font-family: monospace;
}

.form-buttons{
    text-align: right;
    align-items: right;
}

.form-label-text{
    font-family: monospace;
    font-size: 18px;
}

.form-label-text-small{
    font-family: monospace;
    font-size: 14px;
}

.media-container{
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    opacity: 1;
}

.media-hide{
    display: none;
}

.form-container{
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    opacity: 0.8;
}

.form-container-small{
    background-color: #ffffff;
    padding: 0px 30px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    opacity: 0.8;
}

.tools-menu{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    opacity: 0.8;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.tool-img{
    opacity: 1;
    width: 100px;
    vertical-align: middle;
    
}

.nodelabel{
    color: #000000;
}
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.form-org-table tr td{
    border: 0px;
}

.form-field-small{
    width: 200px;
    padding: 5px;
    border-radius: 15px;
    font-weight: normal;
    font-family: monospace;
    font-size: 16px;
}

.form-button-small{
    padding: 5px 15px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 16px;
}

.form-title{
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

.divider-container{
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.divider-simple{
    width: 500px;
    align-items: center;
}

.menu-image-button{
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 20px;
    min-width: 200px;
    margin: 10px;
}

.linked_lists_table tr td{
    font-family: monospace;
    font-size: 16px;
    border: 0px;
}

.normal-text{
    font-weight: normal;
    font-family: monospace;
    font-size: 16px;
}

.graphlegend tr td{
    font-family: monospace;
    font-weight: normal;
    border: dashed 1px #000000;
    border-collapse: collapse;
    font-size: 12px;
}
.graphlegend{
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.profile-photo{
    width: 150px;
    float: left;
    border-radius: 15px;
    padding-right: 15px;
}

.menu-hidden{
    visibility: hidden;
    /*display: none;*/
    
}

#media_viewer{
    width: 100%;
    height: 600px;
}


/* Tabs */
.tabs {
    width: 100%;
    background-color: #c3c3c3;
    border-radius: 5px 5px 5px 5px;
  }
  ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
  }
  ul#tabs-nav li {
    float: left;
    font-weight: normal;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    /*border: 1px solid #d5d5de;
    border-bottom: none;*/
    cursor: pointer;
  }
  ul#tabs-nav li:hover,
  ul#tabs-nav li.active {
    background-color: #d3d3d3;
    font-weight: bold;
  }
  #tabs-nav li a {
    text-decoration: none;
    color: #000;
    
  }
  .tab-content {
    padding: 10px;
    border: 5px solid #c3c3c3;
    background-color: #FFF;
  }
  


  .youtube_viewer{
    width: 100%;
    height: 600px;
    opacity: 100%;
  }

  h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .search_icon{
    width: 50px;
  }

  .hidden_table_row{
    visibility: hidden;
  }