<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>HeritageRoots: Search</title>
</head>
<body>
<header>
    {% 
     include 'header.html'
    %}
</header>

<main>
  <div class="row align-items-start">
    <div class="top-spacer"></div>
  </div>
  <div class="row align-items-start">
    <div class="form-title"><h2>Keyword/Text Search</h2></div>
  </div>
  <div class="row align-items-start">
    <div class="col-3">
      <div class="form-container-small">
        <table class="form-org-table">
          <tr>
            <td>Browse:</td>
            <td>
              <select id="ddlBrowseTarget" name="ddlBrowseTarget" class="form-field-small">
                <option name="Animals" value="animals">Animals</option>
                <option name="Countries" value="countries">Countries</option>
                <option name="Languages" value="languages">Languages</option>
                <option name="Narratives" value="narratives">Narratives</option>
                <option name="Objects" value="objects">Objects</option>
                <option name="Plants" value="plants">Plants</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Keyword:</td>
            <td>
                <input type="text" name="txtSearchKeyword" id="txtSearchKeyword" value="" class="form-field-small" />
            </td>
          </tr>
          <tr>
            <td colspan="2" class="form-buttons"><input class="form-button-small" type="button" name="btnSearch" id="btnSearch" value="Search" onclick="browse();" /></td>
          </tr>
        
        </table>
      </div>
    </div>
    <div class="col-8">
        <table id="browse_results" class="list_table"></table>
    </div>
    
  </div>
</main>
</body>


<script>

var label_map = {
    "animals" : "Animal",
    "countries" : "Country",
    "languages" : "Language",
    "narratives" : "Narrative",
    "objects" : "Object",
    "plants" : "Plant"
}

var attribute_map = {
    "animals" : ['common_name','scientific_name'],
    "countries" : ['country_name'],
    "languages" : ['language_name'],
    "narratives" : ['title','text','orig_language','trans_language'],
    "objects" : ['object_name','description'],
    "plants" : ['common_name','scientific_name']
}


function list_results(data, browse_target){
    if(data){
        if(data.length > 0){
          console.log(data);
            $tbl = $('#browse_results');
            $tbl.empty();
            $tr = $('<tr></tr>');
            
            var attributes = attribute_map[browse_target];
            for (var j = 0; j<attributes.length; j++) {
              $th = $('<th></th>');
              $th.text(capitalize(attributes[j]));
              $tr.append($th)
            }
            $th = $('<th></th>');
            $th.text("Details");
            $tr.append($th);
            $tbl.append($tr)

            for(var i = 0; i<data.length; i++){
                $tr = $('<tr></tr>');
                for (var j = 0; j<attributes.length; j++) {
                    $td = $('<td></td>');
                    var val = data[i][attributes[j]]
                    if(val == "" || val == null){
                        $td.html("&nbsp;");
                    }
                    else{
                        $td.text(val.substring(0, 200));
                    }
                    $tr.append($td)
                    
                }
                $td = $('<td></td>');
                $a = $('<a></a>');
                
                var href = "view_entity?entity_id=" + data[i]['id'] + "&entity_label=" + label_map[$('#ddlBrowseTarget').val()] + "&browse_target=" + $('#ddlBrowseTarget').val();;
                $a.attr({
                    "href" : href
                });
                $a.text("[details]");
                $td.append($a);
                $tr.append($td);
                $tbl.append($tr)
            }

        }
    }
    
}



function browse(){
  $browse_target = $('#ddlBrowseTarget');
  $searchterm = $('#txtSearchKeyword');
  
  browse_target = $browse_target.val();
  searchterm = $searchterm.val();
  

  // var searchurl = "browse_entities?browse_target=" + browse_target + "&starts_with=" + starts_with;
  // console.log(browse_target);

  var searchurl = "get_" + browse_target + "?searchterm=" + searchterm; 
  // console.log(searchurl);
  $.getJSON(searchurl, function(data){
    console.log(data);
    list_results(data, browse_target);
  });
  
};
</script>
</html>