<html>   
<head>   
    <title>Media Linker</title>   
    <script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>    
    <script src="{{url_for('static',filename='utils.js')}}"></script>
    <script>
        var entity_id = "";
        var entity_label = "";
    </script>
</head>   
<body>   
    <form action = "create_link" method = "get">   
        
        <div>
            <b>Country:</b><br />
            <select name="target_id" id="target_id">
                
            </select>
        </div>
        <input type = "button" name="btn_save" id="btn_save" value="Save" onclick="link_country();">   
        </div>
    </form>   
</body>   
<script>
    $(document).ready(function(){
        entity_id = getrequest('entity_id');
        entity_label = getrequest('entity_label');
        
        if(entity_id != ''){
            get_countries();
        }
    });

    function link_country(){
        var source_id = getrequest('entity_id');
        var source_label = getrequest('entity_label');
        var link_name = getrequest('link_name'); // "TAKES_PLACE_IN"
        var target_id = $('#target_id').find(":selected").val();
        var target_label = "Country";

        var url = "create_link?source_id=" + source_id;
        url += "&source_label=" + source_label;
        url += "&link_name=" + link_name;
        url += "&target_id=" + target_id;
        url += "&target_label=" + target_label;
        // alert(url);
        document.location.href = url;

    }

    function get_countries(){
        $.getJSON("get_countries", function(data){
            console.log(data);
            var $dropdown = $("#target_id");
            for(var i = 0; i<data.length; i++){
                $dropdown.append($("<option />").val(data[i]['id']).text(data[i]['country_name']));
            }
        });
    }

</script>
</html>