<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HeritageRoots: Admin</title>
    
</head>

<body>
    <header>
        {% include 'header.html' %}
    </header>

    <main>
        <div id="home" class="landing">
            <div class="row align-items-start">
                <div class="top-spacer"></div>
            </div>
            <div class="row align-items-start">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="form-container" >
                        
                        <ul>
                            <li class="form-label-text"><a href="add_story">Add Narrative</a></li>
                            <li class="form-label-text"><a href="create_animal_entry">Add Animal</a></li>
                            <li class="form-label-text"><a href="create_plant_entry">Add Plant</a></li>
                            <li class="form-label-text"><a href="create_object_entry">Add Object</a></li>
                            <li class="form-label-text"><a href="create_concept_entry">Add Concept</a></li>
                            <li class="form-label-text"><a href="list_narratives">Search Narratives</a></li>
                            <li class="form-label-text"><a href="list_animals">Search Animals</a></li>
                            <li class="form-label-text"><a href="list_plants">Search Plants</a></li>
                            <li class="form-label-text"><a href="list_objects">Search Objects</a></li>
                            <li class="form-label-text"><a href="list_concepts">Search Concepts</a></li>
                            <li class="form-label-text"><a href="import_events">Import Events</a></li>

                            <li class="form-label-text"><a href="manage_users">Manage users</a></li>
                        </ul>
                    </div> 
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </main>

</body>   

</html>