<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>HeritageRoots: Event Details</title>
</head>
<body>
<header>
    {% 
     include 'header.html'
    %}
</header>

<main>
  <div class="row align-items-start">
    <div class="top-spacer"></div>
  </div>
  <div class="row align-items-start">
    <div class="form-title"><h2>Event Details</h2></div>
  </div>
  <div class="row align-items-start">
    <div class="col-2"></div>
      
    <div class="col-8">
        <table id="browse_results" class="list_table">
          
        </table>
    </div>
    <div class="col-2"></div>
  </div>
</main>
</body>


<script>

$(document).ready(function(){
    var event_id = getrequest('event_id');
    var searchurl = "view_event?event_id=" + event_id; 
  // console.log(searchurl);

  $.getJSON(searchurl, function(data){
    // console.log(data);
    list_results(data);
  });
});

function list_results(data){
    if(data){
        if(data.length > 0){
            // console.log(data);
            $tbl = $('#browse_results');
            // console.log($tbl);
            $tbl.empty();

            Object.keys(data[0]).forEach(function(key) {
              // console.log('Key : ' + key + ', Value : ' + data[key])
              $tr = $('<tr></tr>');
              
              $td = $('<td></td>');
              $td.text(key);
              $tr.append($td);

              $td = $('<td></td>');
              $td.text(data[0][key]);
              $tr.append($td);

              $tbl.append($tr)
            });

            
            
            

        }
    }
    
}




</script>
</html>