<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  
  <style>

    .link {
      fill: none;
      stroke: #666;
      stroke-width: 1.5px;
    }
    
    #licensing {
      fill: green;
    }
    
    .link.licensing {
      stroke: green;
    }
    
    .link.resolved {
      stroke-dasharray: 0,2 1;
    }
    
    circle {
      fill: #ccc;
      stroke: #333;
      stroke-width: 1.5px;
    }
    
    text {
      font: 10px sans-serif;
      pointer-events: none;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }
    
    </style>
  <!--script src="https://d3js.org/d3.v4.min.js"></script-->
  <!--script src="https://d3js.org/d3.v3.min.js"></script-->
  <script src="{{url_for('static',filename='d3.v4.min.js')}}"></script>
</head>
<body>
<header>
    {% 
     include 'header.html'
    %}
</header>
<script>
  var embedded = getrequest('embedded');
</script>
<main>
  <div class="row align-items-start">
    <div class="top-spacer"></div>
  </div>
  <div class="row align-items-start">
    <div class="col-2">
      <div class="form-container-small">
        <table class="form-org-table">
          <tr>
            <td>Target:</td>
            <td>
              <select id="ddlSearchTarget" name="ddlSearchTarget" class="form-field-small">
                <option name="Animals" value="animals">Animals</option>
                <option name="Events" value="events">Events</option>
                <option name="ID" value="id">Unique Identifier (ID)</option>
                <option name="Narratives" value="narratives">Narratives</option>
                <option name="Objects" value="objects">Objects</option>
                <option name="Plants" value="plants">Plants</option>
              </select>
            </td>
          </tr>
          
          <tr>
            <td>Keyword(s):</td>
            <td><input type="text" name="txtSearch" id="txtSearch" value="" class="form-field-small" /></td>
          </tr>
          <tr>
            <td colspan="2" class="form-buttons"><input class="form-button-small" type="button" name="btnSearch" id="btnSearch" value="Search" onclick="searchgraph();" /></td>
          </tr>
        
        </table>
      </div>
    </div>
    <div class="col-7">
        <svg width="900" height="600" id="svgGraph"></svg>
    </div>
    <div class="col-3">
      <table id="graphlegend" class="graphlegend"></table>
      <table id="graphnodedetails" class="graphlegend"></table>
    </div>
  </div>
</main>
</body>


<script>
    function rendergraph(target, keywords){
        $('#svgGraph').empty();
        $('#graphlegend').empty();
        var searchurl = "search_entities?target=" + target + "&scope=&searchterms=" + keywords
        console.log(searchurl)
        d3.json(searchurl, function(error, graph) {
            console.log(graph);
        var links = graph['links'];
        
        var nodes = {};
        
        // Compute the distinct nodes from the links.
        links.forEach(function(link) {
        link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
        link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
        });
        
        var width = 960,
            height = 500;
        
        var force = d3.layout.force()
            .nodes(d3.values(nodes))
            .links(links)
            .size([width, height])
            .linkDistance(60)
            .charge(-300)
            .on("tick", tick)
            .start();
        
        var svg = d3.select("#svgGraph");
        
        // Per-type markers, as they don't inherit styles.
        svg.append("defs").selectAll("marker")
            .data(["suit", "licensing", "resolved"])
        .enter().append("marker")
            .attr("id", function(d) { return d; })
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 15)
            .attr("refY", -1.5)
            .attr("markerWidth", 6)
            .attr("markerHeight", 6)
            .attr("orient", "auto")
        .append("path")
            .attr("d", "M0,-5L10,0L0,5");
        
        var path = svg.append("g").selectAll("path")
            .data(force.links())
        .enter().append("path")
            .attr("class", function(d) { return "link " + d.type; })
            .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });
        
        var circle = svg.append("g").selectAll("circle")
            .data(force.nodes())
            .enter().append("circle")
            .attr("r", 6)
            .call(force.drag);
        
        var text = svg.append("g").selectAll("text")
            .data(force.nodes())
            .enter().append("text")
            .attr("x", 8)
            .attr("y", ".31em")
            .text(function(d) { return d.name; });

        var image = svg.append("g").selectAll("image")
            .data(force.nodes())
            .enter().append("image")
            .attr("src", function(d){
                return "{{ url_for('static',filename='images/animal-mammal-icon-small.png') }}"
            })
            .attr("x", -8)
            .attr("y", -8)
            .attr("width", 16)
            .attr("height", 16);

            // Use elliptical arc path segments to doubly-encode directionality.
        function tick() {
            path.attr("d", linkArc);
            circle.attr("transform", transform);
            text.attr("transform", transform);
        }
        
        function linkArc(d) {
            var dx = d.target.x - d.source.x,
            dy = d.target.y - d.source.y,
            dr = Math.sqrt(dx * dx + dy * dy);
        return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
        }
        
        function transform(d) {
        return "translate(" + d.x + "," + d.y + ")";
        }
        });
    }
    
    
    
    function searchgraph(){
        $search_target = $('#ddlSearchTarget');
        $search_terms = $('#txtSearch');

        target = $search_target.find(":selected").val();
        keywords = $search_terms.val();
        console.log(keywords);
        rendergraph(target, keywords);
    }
    </script>
</html>