<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
<!--script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script--> 
<script src="{{url_for('static',filename='jquery-3.6.4.min.js')}}"></script>
<script src="{{url_for('static',filename='utils.js')}}"></script>

<div class="topbar-container">
    <a href="/"><img src="{{url_for('static',filename='images/main_logo_transparent.png')}}" class="logo" alt="HeritageRoots" title="HeritageRoots"></a>
    <h1>HeritageRoots</h1>
    <nav>
        <ul>
            <li class="menu-hidden menu-loggedout"><a href="login">Login</a></li>
            <li class="menu-always"><a href="search">Search</a></li>
            <!--li class="menu-always"><a href="browse">Browse</a></li-->
            <!--li class="menu-hidden menu-admin"><a href="create">Create</a></li-->
            <li class="menu-always"><a href="team">Our Team</a></li>
            <li class="menu-always"><a href="tools">Our Tools</a></li>
            <li class="menu-hidden menu-loggedin"><a href="logout">Logout</a></li>
        </ul>
    </nav>
</div>
<script>
    $(document).ready(function(){
        check_loggedin_user();
    });
</script>