<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HeritageRoots</title>

    
</head>

<body>
    <header>
        {% include 'header.html' %}
    </header>

    <main>
        <div id="home" class="landing">
            <div class="landing-text">
                <h1 class="landing-head">
                    HeritageRoots
                </h1>
                <p class="landing-sub">
                    Preserving Indigenous Traditional Knowledge
                </p>
            </div>
        </div>

        <div id="about" class="about-section">
            <h1 class="hidden">ABOUT STORY WORLDS</h1>
            <div class="about-subsection">
                    Around the world, many cultures are significantly threatened by the 
                    erosion of cultural integrity, climate change, loss of habitat, the 
                    environmental impact of globalization, and the ravages of epidemics. 
                    Cultures that do not have a strong written tradition are especially 
                    threatened – as younger generations move away in search of education and 
                    jobs, and as globalization forces linguistic shifts to more “global” 
                    languages such as English and Spanish, rich oral traditions either 
                    disappear completely or become artifacts in university or library archives, 
                    accessible only to small groups of academics. Many initiatives have been 
                    activated to preserve and revitalize indigenous cultures, traditions, 
                    and languages. While quite a few of these initiatives involve the use of 
                    computational technologies and multimedia to document and archive indigenous 
                    languages, knowledge, and cultures, much of what has been created to date 
                    is primarily designed to serve academic communities and does not provide 
                    access to either the broader public (e.g., anyone who wishes to learn 
                    about a particular culture) or to the indigenous communities that provided 
                    the data in the first place. Moreover, existing systems tend to focus on a 
                    single corpus of stories and do not provide possibilities to connect and map stories, characters, and concepts across multiple cultures and languages.
                    <br /><br />
                    Our team has collaborated with indigenous communities in Ecuador and with scholars from several universities to develop StoryWorlds ITK (Indigenous Traditional Knowledge), an innovative software infrastructure designed for cultural preservation and education. StoryWorlds ITK consists of two interconnected systems – (1) a web-based knowledge graph (KG) data collection and management system which stores, connects, and presents Indigenous traditional knowledge (ITK) in the form of stories, myths, and testimonies from multiple cultures and languages; (2) a virtual environment rendering pipeline which utilizes large language models (LLM), Unity3D, and Meta Quest software development kit (SDK) to procedurally generate virtual worlds from the KG data.
                


            </div>
        </div>
        <!--
        <div id="contact" class="contact-section">
            <h1>CONTACT US</h1>
            <footer>
                STORY WORLDS MOCKUP
            </footer>
        </div>
        -->
    </main>
</body>

</html>