<!doctype html>
<html lang="en">
    <head>
        <title>HeritageRoots: Link Concepts to Narratives</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
    </head>
    <body>
        <header>
            {% include 'header.html' %}
        </header>
        <script>
            var entity_id = "";
            var entity_label = "Narrative";
            function getSelectedText() {
                var selectedText = '';
        
                // window.getSelection
                if (window.getSelection) {
                    selectedText = window.getSelection();
                }
                // document.getSelection
                else if (document.getSelection) {
                    selectedText = document.getSelection();
                }
                // document.selection
                else if (document.selection) {
                    selectedText =
                        document.selection.createRange().text;
                } else return;
                // To write the selected text into the textarea
                // alert(selectedText);
            }
            var entities = {
                
            }
        </script>
        <main>
            <div id="home" class="landing">
                <div class="row align-items-start">
                    <div class="top-spacer"></div>
                </div>
                <div class="row align-items-start">
                    <div class="container">
                        <div class="row align-items-start">
                            <div class="col-1"><br></div>
                            <div class="col-7">
                                <div id="text_viewer" class="normal-text" onmouseup="getSelectedText();">
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-3">
  
                                <div class="linked_lists">
                                    <b>Files</b>
                                    <table class="linked_lists_table" id="file_list"></table>
                                </div>
                                <div class="linked_lists_button">
                                    <input type="button" value="Link File" name="btnLinkFile" id="btnLinkFile" onclick="link_file();" />
                                </div>
                                <div class="linked_lists">
                                    <b>External Media</b>
                                    <table class="linked_lists_table" id="media_list"></table>
                                </div>
                                <div class="linked_lists_button">
                                    <input type="button" value="Link Media" name="btnLinkMedia" id="btnLinkMedia" onclick="link_media();" />
                                </div>
                                <div class="linked_lists">
                                    <b>Countries</b>
                                    <table class="linked_lists_table" id="country_list"></table>
                                </div>
                                <div class="linked_lists_button">
                                    <input type="button" value="Link Country" name="btnLinkCountry" id="btnLinkCountry" onclick="link_country('TAKES_PLACE_IN');" />
                                </div>
                                <div class="linked_lists">
                                    <b>Animals</b>
                                    <table class="linked_lists_table" id="animal_list"></table>
                                </div>
                                <div class="linked_lists_button">
                                    <input type="button" value="Link Animal" name="btnLinkAnimal" id="btnLinkAnimal" onclick="link_animal();" />
                                </div>
                                <div class="linked_lists">
                                    <b>Plants</b>
                                    <table class="linked_lists_table" id="plant_list"></table>
                                </div>
                                <div class="linked_lists_button">
                                    <input type="button" value="Link Plant" name="btnLinkPlant" id="btnLinkPlant" onclick="link_plant();" />
                                </div>
                                <div class="linked_lists">
                                    <b>Objects</b>
                                    <table class="linked_lists_table" id="object_list"></table>
                                </div>
                                <div class="linked_lists_button">
                                    <input type="button" value="Link Object" name="btnLinkObject" id="btnLinkObject" onclick="link_object();" />
                                </div>
                                <div class="linked_lists">
                                    <b>REST API URI</b>
                                    <table class="linked_lists_table">
                                        <tr>
                                            <td id="narrative_api_link_table"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="linked_lists_button">
                                    <input type="button" value="Generate Link" name="btnCreateRestApiCall" id="btnCreateRestApiCall" onclick="generate_api_link('narrative_api_link_table');" />
                                </div>
                            </div>
                            <div class="col-1"><br></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>

        
        
        
        <script>
            function viewGraph(){
                // $(".content").toggle();
                window.open('graph', '_blank');
            }


            $(document).ready(function(){
                // console.log(narrative);
                entity_id = getrequest('story_id');
                entity_label = "Narrative";
                if(entity_id != ''){
                    $.getJSON("get_concepts_data?story_id=" + entity_id, function(data){
                        // console.log(data);
                        if(data){
                            $('#text_viewer').text(data['story_text']);
                            highlightEntitiesInText(data)
                        }
                    });

                    file_url = "get_file_list?entity_id=" + entity_id + "&entity_label=Narrative"

                    populate_list(file_url, 'file_name', 'file_name', 'file_list', 'File')


                    media_url = "get_media_list?entity_id=" + entity_id + "&entity_label=Narrative"
                    populate_list(media_url, 'url', 'url', 'media_list', 'Media')

                    country_data_url = "get_countries?entity_id=" + entity_id + "&entity_label=Narrative"
                    populate_list(country_data_url, 'country_name', 'country_name', 'country_list', 'Country')

                    animal_data_url = "get_animals?entity_id=" + entity_id + "&entity_label=Narrative";
                    populate_list(animal_data_url, 'scientific_name', 'scientific_name', 'animal_list', 'Animal')
                    
                    plant_data_url = "get_plants?entity_id=" + entity_id + "&entity_label=Narrative";
                    populate_list(plant_data_url, 'scientific_name', 'scientific_name', 'plant_list', 'Plant')

                    object_data_url = "get_objects?entity_id=" + entity_id + "&entity_label=Narrative";
                    populate_list(object_data_url, 'object_name', 'object_name', 'object_list', 'Object')
                    
                }
                
            });

            
            
            function highlightEntitiesInText(data){
                for(var i = 0; i<data['matched_animals'].length; i++){
                    // console.log(data['matched_animals'][i]);

                    highlightEntity(data['matched_animals'][i])
                    
                }
                
                for(var i = 0; i<data['matched_plants'].length; i++){
                    // highlightEntity(data['matched_plants'][i])
                }
                
            }

            function highlightEntity(entityData, highlight_class){
                // console.log(entityName);
                if(entityData != null){
                    animal_id = entityData['animal_id'];
                    animal_name = entityData['animal_name']
                    narrative_id = entityData['narrative_id']

                    animal_name = animal_name.replace(/[^0-9a-z]/gi, '');

                    var text = $('#text_viewer').html();

                    $entityHighlighted = $("<span></span>");
                    $entityHighlighted.text(animal_name);

                    $btn = $("<a></a>");
                    $btn.attr({
                        "id" : animal_id + "_" + animal_name,
                        "href" : ""
                    })
                    $btn.text("[+]");

                    var replaceHighlight = "";

                    if(narrative_id != "" && animal_id != ""){
                        // Animal exists in database and is linked to this narrative
                        $entityHighlighted.attr({"class" : "concept_highlighted_exists_linked"});
                        replaceHighlight = $entityHighlighted[0]['outerHTML'];
                    }
                    else if(narrative_id == "" && animal_id != ""){
                        // Animal exists in database and is NOT linked to this narrative
                        $entityHighlighted.attr({"class" : "concept_highlighted_exists_not_linked"});
                        replaceHighlight = $entityHighlighted[0]['outerHTML'] + $btn[0]['outerHTML'];
                    }
                    else{
                        // Animal DOES NOT exist in database
                        $entityHighlighted.attr({"class" : "concept_highlighted_not_exists"});
                        replaceHighlight = $entityHighlighted[0]['outerHTML'] + $btn[0]['outerHTML'];
                    }

                    console.log(replaceHighlight);
                    text = text.replace(animal_name, replaceHighlight);
                    text = text.replace(animal_name.toLowerCase(), replaceHighlight);
                    text = text.replace(animal_name.toUpperCase(), replaceHighlight);
                    $('#text_viewer').html(text);
                    console.log(animal_id + "_" + animal_name);
                    $btn = $('#' + animal_id + "_" + animal_name);
                    if($btn){
                        if(animal_id == ""){
                            $btn.attr({
                                "href" : "javascript:createAndLinkEntity('" + animal_name + "', '" + entity_id + "');"
                            });
                        }
                        else{
                            $btn.attr({
                                "href" : "javascript:linkEntity('" + animal_id + "', 'Animal', '" + entity_id + "', 'Narrative', 'APPEARS_IN');"
                            });
                        }
                    }
                    
                }
                
            }

            function createAndLinkEntity(animal_name, narrative_id){
                var url = "create_generalized_living_object?entity_label=Animal&common_name="+animal_name+"&narrative_id="+narrative_id;
                document.location.href=url;
            }

            function linkEntity(source_id, source_label, target_id, target_label, link_name){
                var url = "create_link?source_label="+source_label+"&source_id="+source_id+"&target_label="+target_label+"&target_id="+target_id+"&link_name="+link_name;
                $.get(url, function(data){
                    document.location.href = "link_concepts?story_id=" + target_id;
                });
            }

            function showEntityData(narrative_id, entityName){
                var url = "manage_concept_links?narrativeid=" + narrative_id + "&conceptname=" + entityName;
                console.log(url);
                return url;
            }

            function createFoundEntityList(data, entity_type){
                $table = $('#tblFoundEntities');
                $tr = $('<tr></tr>');
                $th = $('<th></th>');
                $th.text(entity_type);
                $th.attr({'colspan':'4'});
                $th.css({'background-color':'#cecece', 'border':'0px'});
                $tr.append($th);
                $table.append($tr);
                for(var i = 0; i<data.length; i++){
                    $tr = $('<tr></tr>');
                    $td = $('<td></td>');
                    $td.text(data[i]);
                    $tr.append($td);

                    $th = $('<th></th>');
                    $img = $('<img />');
                    $img.attr({
                        "src": "{{ url_for('static',filename='images/link_icon.png') }}",
                        "class": "icon_image",
                        "alt" : "Link to an existing concept",
                        "title" : "Link to an existing concept"
                    });
                    $th.append($img);
                    $tr.append($th);

                    $th = $('<th></th>');
                    $img = $('<img />');
                    $img.attr({
                        "src": "{{ url_for('static',filename='images/explore_icon.svg') }}",
                        "class": "icon_image",
                        "alt" : "Explore existing connections",
                        "title" : "Explore existing connections"
                    });
                    $th.append($img);
                    $tr.append($th);

                    $th = $('<th></th>');
                    $img = $('<img />');
                    $img.attr({
                        "src": "{{ url_for('static',filename='images/create_icon.png') }}",
                        "class": "icon_image",
                        "alt" : "Create new connected concept",
                        "title" : "Create new connected concept"
                    });
                    $th.append($img);
                    $tr.append($th);
                    
                    
                    $table.append($tr);
                }
            }
        </script>
    </body>
</html>