<html>   
<head>   
    <title>HeritageRoots: Search Animals</title>   
    
</head>   
<body>   
    <header>
        {% include 'header.html' %}
    </header>

    <main>
        <div id="home" class="landing">
            <div class="row align-items-start">
                <div class="top-spacer"></div>
            </div>
            <div class="row align-items-start">
                <div class="col-3">&nbsp;</div>
                <div class="col-6">
                    <div class="form-container">
                        <form action = "get_animals" method = "get" onkeydown="if(event.keyCode === 13) { return false; }">   
                            <div>
                                <input class="form-field-small" type="text" name="searchterm" id="searchterm" value="" />
                                <input class="form-button-small" type="button" name="search" id="search" value="Search"  onclick="list_animals();"/>
                            </div>
                            <div><br /></div>
                            <div>
                                <table id="animal_list" class="list_table">
                                    <tr>
                                        <th>Common name</th>
                                        <th>Scientific name</th>
                                        <th>Species</th>
                                        <th>[edit]</th>
                                    </tr>
                                </table>
                            </div>
                            
                        </form>   
                    </div>
                </div>
                <div class="col-3">&nbsp;</div>
            </div>
        </div>  
    </main>
</body>   
<script>
    $(document).ready(function(){
        // var searchterm = "";
        // list_animals();
    });

    function list_animals(){
        var searchterm = $('#searchterm').val();
        var url = "get_animals?searchterm=" + searchterm;
        $.getJSON(url, function(data){
            var $tbl = $("#animal_list");
            data.sort((a, b) => {
                if (a.scientific_name < b.scientific_name) {
                    return -1;
                }
            });
            // console.log(data);
            for(var i = 0; i<data.length; i++){
                $tr = $('<tr></tr>');
                
                $td = $('<td></td>');
                $td.text(data[i]['common_name']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['scientific_name']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['species']);
                $tr.append($td);

                $td = $('<td></td>');
                $a = $('<a></a>');
                var url = "update_animal_entry?animal_id=" + data[i]['id']
                // var url = "get_animal_taxonomy_node?animal_id=" + data[i]['id']
                $a.attr({
                    "href" : url
                });
                
                $a.text("[edit]")
                $td.append($a);
                $tr.append($td);

                $tbl.append($tr);
            }
        });
    }

    
</script>
</html>