<!doctype html>
<html lang="en">
    <head>
        <title>HeritageRoots: Manage Concept Links</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
        <script>
            function getSelectedText() {
                var selectedText = '';
        
                // window.getSelection
                if (window.getSelection) {
                    selectedText = window.getSelection();
                }
                // document.getSelection
                else if (document.getSelection) {
                    selectedText = document.getSelection();
                }
                // document.selection
                else if (document.selection) {
                    selectedText =
                        document.selection.createRange().text;
                } else return;
                // To write the selected text into the textarea
                // alert(selectedText);
            }
            var entities = {
                
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row align-items-start">
              <div class="col-12">
                <table id="tblFoundEntities">
                    <tr>
                        <th>Common name</th>
                        <th>Scientific name</th>
                        <th>Species</th>
                        <th>&nbsp;</th>
                    </tr>
                </table>
              </div>
              
            </div>
            
          </div>
        
        
        
        <script>
            $(document).ready(function(){
                searchterms = getrequest('conceptname');
                narrativeid = getrequest('narrativeid');
                // console.log(searchterms);
                $.getJSON("search_entities?target=animals&scope=name&searchterms=" + searchterms, function(data){
                    if(data){
                        /*
                        for(var i = 0; i<data["nodes"].length; i++){
                            console.log(data["nodes"][i]);
                        }
                        */
                       createFoundEntityList(data['nodes']);
                    }
                });
                
                
            });

            function getrequest(name){
                if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
            }

            function createFoundEntityList(data){
                console.log(data);
                $table = $('#tblFoundEntities');
                for(var i = 0; i<data.length; i++){
                    if(data[i]['group'].toLowerCase().indexOf("animal")!= -1){
                        $tr = $('<tr></tr>');
                        $td = $('<td></td>');
                        
                        $td.text(data[i]['common_name']);
                        $tr.append($td);

                        $td = $('<td></td>');
                        $td.text(data[i]['scientific_name']);
                        $tr.append($td);
                        
                        $td = $('<td></td>');
                        $td.text(data[i]['species']);
                        $tr.append($td);

                        $td = $('<td></td>');
                        $btn = $('<input />');
                        $btn.attr({
                            "id" : data[i]['id'],
                            "type" : "button",
                            "value" : "link to this concept"
                        });
                        $btn.click(function(){
                            linknarrativeconcept($(this).attr('id'), 'Animal', narrativeid);
                        });
                        $td.append($btn);
                        $tr.append($td);
                        $table.append($tr);
                    }
                }
            }

            function linknarrativeconcept(concept_id, concept_label, narrative_id){
                var url = "create_link?target_label=Narrative&target_id=" + narrative_id;
                url += "&source_label=" + concept_label + "&source_id=" +concept_id;
                url += "&link_name=APPEARS_IN"
                console.log(url);
                // console.log("CONCEPT: " + concept_id + "\nNARRATIVE: " + narrative_id);
                $.get(url, function(data){
                    console.log(data);
                });
            }
        </script>
    </body>
</html>