<html>   
<head>   
    <title>HeritageRoots: Manager Users</title>   
    <script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}"> 
    <script src="{{url_for('static',filename='utils.js')}}"></script> 
</head>   
<body>   
    <form action = "get_animals" method = "get" onkeydown="if(event.keyCode === 13) { return false; }">   
        <div>
            <input type="text" name="searchterm" id="searchterm" value="" />
            <input type="button" name="search" id="search" value="Search"  onclick="list_users();"/>
            <input type="button" name="create" id="create" value="Create New User"  onclick="create_user();"/>
        </div>
        <div><br /></div>
        <div>
            <table id="user_list" class="list_table">
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Affiliation</th>
                    <th>Date Created</th>
                    <th>Admin</th>
                    <th>Owner</th>
                    <th>Editor</th>
                    <th>Contributor</th>
                    <th>Viewer</th>
                    <th>[edit]</th>
                </tr>
            </table>
        </div>
        
    </form>   
</body>   
<script>
    $(document).ready(function(){
        // var searchterm = "";
        list_users();
    });

    function create_user(){
        document.location.href="create_user";
    }

    function list_users(){
        var searchterm = $('#searchterm').val();
        var url = "get_users";
        $.getJSON(url, function(data){
            var $tbl = $("#user_list");
            console.log(data);
            for(var i = 0; i<data.length; i++){
                $tr = $('<tr></tr>');
                
                
                $td = $('<td></td>');
                $td.text(data[i]['last_name']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['first_name']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['email']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['affiliation']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['date_created']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['admin']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['owner']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['editor']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['contributor']);
                $tr.append($td);

                $td = $('<td></td>');
                $td.text(data[i]['viewer']);
                $tr.append($td);

                $td = $('<td></td>');
                $a = $('<a></a>');
                var url = "update_user?user_id=" + data[i]['user_id']
                // var url = "get_animal_taxonomy_node?animal_id=" + data[i]['id']
                $a.attr({
                    "href" : url
                });
                
                $a.text("[edit]")
                $td.append($a);
                $tr.append($td);

                $tbl.append($tr);
            }
        });
    }

    
</script>
</html>