<html>   
<head>   
    <title>Media Linker</title>   
    <script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>    
</head>   
<body>   
    <form action = "link_media" method = "post">   
        <input type="hidden" name="entity_id" id="entity_id" value="" />
        <input type="hidden" name="entity_label" id="entity_label" value="" />
        <div>
            <b>Source:</b><br />
            <select name="source" id="source">
                <option name="YouTube" value="YouTube">YouTube</option>
                <option name="Vimeo" value="Vimeo">Vimeo</option>
            </select>
        </div>
        <div>
            <b>Media Type:</b><br />
            <select name="media_type" id="media_type">
                <option name="video" value="video">Video</option>
                <option name="image" value="image">Image</option>
                <option name="3dmodel" value="3dmodel">3D Model</option>
            </select>
        </div>
        <div>
            <b>URL:</b><br />
            <input type="text" name="url" id="url" />  
        </div>
        <div>
            <b>Description:</b><br />
            <textarea name="description" id="description" rows="5" cols="50"></textarea>  
        </div>
        <div>
            <b>Notes:</b><br />
            <textarea name="notes" id="notes" rows="5" cols="50"></textarea>  
            </div>
        <div>
        <input type = "submit" value="Upload and Save">   
        </div>
    </form>   
</body>   
<script>
    $(document).ready(function(){
        entity_id = getrequest('entity_id');
        entity_label = getrequest('entity_label');

        if(entity_id != '' && entity_label != ''){
            // console.log($('#story_id'));
            $("#entity_id").val(entity_id);
            $("#entity_label").val(entity_label);
        }
    });

    function getrequest(name){
        if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
        return decodeURIComponent(name[1]);
    }
</script>
</html>