<!--
    https://pannellum.org/documentation/examples/simple-example/
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeritageRoots: Media Viewer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script> 
    <script src="{{url_for('static',filename='utils.js')}}"></script>

    <style>
    #panorama {
        width: 800px;
        height: 500px;
    }
    </style>
</head>
<body>

<!--
<div id="panorama"></div>


<model-viewer width="500px" height="500px" src="{{ url_for('static',filename='models/toucan.glb') }}" ar ar-modes="webxr scene-viewer quick-look" camera-controls tone-mapping="commerce" shadow-intensity="1">
    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    
</model-viewer>

-->

<div id="media_viewer_body">


</div>

</body>
</html>

<script>
    $(document).ready(function(){
        var entity_id = getrequest("entity_id");
        var entity_label = getrequest("entity_label");
        media_url = "get_media_list?entity_id=" + entity_id + "&entity_label=" + entity_label;
    
        // populate_list(media_url, 'url', 'url', 'media_list', 'Media')
        $.getJSON(media_url, function(data){
            for(var i = 0; i<data.length; i++){
                console.log(data);
                if(data[i]['media_type'] == "video" && data[i].source=="YouTube"){
                    // $('#youtube_viewer').attr("src", data[i]["url"]);
                    $iframe = $("<iframe></iframe>");
                    $iframe.attr({
                        "id" : "youtube_viewer_" + i,
                        "class" : "youtube_viewer",
                        "src" : data[i]["url"],
                        "frameborder" : "0",
                        "allowfullscreen" : true
                    });
                    $('#media_viewer_body').append($iframe);
                }
            }
        });

        file_url = "get_file_list?entity_id=" + entity_id + "&entity_label=" + entity_label;
        $.getJSON(file_url, function(data){
            console.log(data);
            for(var i = 0; i<data.length; i++){
                if(data[i]['file_type'] == "pdf"){
                    $pdf = $('<object></object>');
                    $pdf.attr({
                        "id" : "pdf_viewer_" + i,
                        "data" : "download?file_id=" + data[i]['id']+"&filename=" + data[i]['file_name'],
                        "class" : "youtube_viewer"
                    });
                    
                    $('#media_viewer_body').append($pdf);
                }
                else if(data[i]['file_type'] == "3dmodel"){
                    $obj = $('<div></div>');
                    $obj.attr({
                        "class" : "details_data"
                    });
                    $obj.css({
                        "width" : "100%"
                    });
                    
                    $obj.html("File type: " + data[i]['file_type'] + "<br />Description: " + data[i]['description'] + "<br />Notes: " + data[i]['notes'] + "<br />Download file: ");
                    $link = $('<a></a>');
                    $link.attr({
                        "href" : "download?file_id=" + data[i]['id'] + "&filename=" + data[i]['file_name']
                    });
                    $link.text(data[i]['file_name']);
                    $obj.append($link);
                    $('#media_viewer_body').append($obj);
                    
                } 
                
                else if(data[i]['file_type'] == "360image"){
                    $pan = $('<div></div>');
                    $pan.attr({
                        "id" : "panorama_" + i,
                        "class" : "youtube_viewer"
                    });
                    $('#media_viewer_body').append($pan);
                    pannellum.viewer('panorama_' + i, {
                        "type": "equirectangular",
                        "panorama": "download?file_id=" + data[i]['id'] + "&filename=" + data[i]['file_name']
                    });
                }
                else if(data[i]['file_type'] == "image"){
                    $obj = $('<div></div>');
                    $obj.attr({
                        "class" : "details_data"
                    });
                    $obj.css({
                        "width" : "100%"
                    });

                    $img = $("<img />");
                    $img.attr({
                        "src" : "download?file_id=" + data[i]['id'] + "&filename=" + data[i]['file_name'] 
                    });
                    $img.css({
                        "width" : "100%"
                    });
                    $obj.html("File type: " + data[i]['file_type'] + "<br />Description: " + data[i]['description'] + "<br />Notes: " + data[i]['notes'] + "<br />Download file: ");
                    $link = $('<a></a>');
                    $link.attr({
                        "href" : "download?file_id=" + data[i]['id'] + "&filename=" + data[i]['file_name']
                    });
                    $link.text(data[i]['file_name']);
                    $obj.append($link);
                    $obj.append($img);
                    $('#media_viewer_body').append($obj);
                }
                else{
                    $obj = $('<div></div>');
                    $obj.attr({
                        "class" : "form-label-text"
                    });
                    $obj.css({
                        "width" : "100%"
                    });
                    $obj.text("File format is unsuitable for viewing.");
                    $('#media_viewer_body').append($obj);
                }
                
            }
        });

        
        
    });
</script>

