<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HeritageRoots: Link Plant to Another Entity</title>
    
</head>

<body>
    <header>
        {% include 'header.html' %}
    </header>

    <main>
        <div id="home" class="landing">
            <div class="row align-items-start">
                <div class="top-spacer"></div>
            </div>
            <div class="row align-items-start">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="form-container">  
                        <form action = "create_link" method = "get">   
                            <div class="form-container-small">
                                <table class="form-org-table">
                                    <tr>
                                        <td colspan="3" class="form-title">Link Plant</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="divider-container"></td>
                                    </tr>
                                    <tr>
                                        <td>Search by Scientific<br />or Common Name:</td>
                                        <td><input type="text" name="txtSearch" id="txtSearch" value="" class="form-field" /></td>
                                        <td><input class="form-button-small" type="button" name="btnSearch" id="btnSearch" value="Search" onclick="get_plants();" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table id="search_results" class="list_table">
                                    
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="hidden_table_row">
                                        <td>Select Relationship:</td>
                                        <td>
                                            <select name="link_name" id="link_name" class="form-field">
                                                <option value="APPEARS_IN">APPEARS_IN</option>
                                                <option value="DEPICTS">DEPICTS</option>
                                                <option value="EATS">EATS</option>
                                                <option value="LIVES">LIVES</option>
                                                <option value="SHELTERS">SHELTERS</option>
                                            </select>
                                        </td>
                                        <td><input type = "button"  class="form-button-small" name="btn_save" id="btn_save" value="Link Plant" onclick="link_plant();"> </td>
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="3"><br /><br /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">If you did not find the plant that you were looking for, use the button below to create a new plant entry.</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <input type = "button" class="form-button-small" name="btn_create_plant" id="btn_create_plant" value="Create New Plant Entry" onclick="create_plant();">   
                                        </td>
                                    </tr>
                                </table>
                            
                            </div>
                            
                        </form>   
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </main>
</body>   
<script>
    var entity_id = "";
    var entity_label = "";
    $(document).ready(function(){
        entity_id = getrequest('entity_id');
        entity_label = getrequest('entity_label');
        
        if(entity_id != ''){
            // get_plants();
        }
    });
    function create_plant(){
        document.location.href = "create_plant_entry?entity_id=" + entity_id;

    }
    function link_plant(){
        var source_id = entity_id;
        var source_label = entity_label;
        // var link_name = "APPEARS_IN"
        var link_name = $('#link_name').find(":selected").val(); // "APPEARS_IN"
        var target_id = $('input[name="animal_linker_selector"]:checked').val(); // $('#target_id').find(":selected").val();
        // alert(target_id);
        var target_label = "Plant";

        var return_url = encodeURIComponent("link_concepts?story_id="+entity_id);

        var url = "create_link?source_id=" + source_id;
        url += "&source_label=" + source_label;
        url += "&link_name=" + link_name;
        url += "&target_id=" + target_id;
        url += "&target_label=" + target_label;
        url += "&return_url=" + return_url;

        // alert(url);
        document.location.href = url;

    }

    function get_plants(){
        var searchterm = $("#txtSearch").val();
        
        $tbl = $("#search_results");
        $tbl.empty();
        $tr = $("<tr></tr>");
        $th = $("<th></th>");
        $th.text("Common Name");
        $tr.append($th);
        $th = $("<th></th>");
        $th.text("Scientific Name");
        $tr.append($th);
        $th = $("<th></th>");
        $th.css({
            'text-align': 'center'
        });
        $th.text("[select]");
        $tr.append($th);
        $tbl.append($tr);

        $.getJSON("get_plants?searchterm="+searchterm, function(data){
            
            
            data.sort((a, b) => {
                if (a.scientific_name < b.scientific_name) {
                    return -1;
                }
            });
            console.log(data);
            for(var i = 0; i<data.length; i++){
                $tr = $("<tr></tr>");
                $td = $("<td></td>");
                $td.text(data[i]['common_name']);
                $tr.append($td);
                
                $td = $("<td></td>");
                $td.text(data[i]['scientific_name']);
                $tr.append($td);

                $td = $("<td></td>");
                $td.css({
                    'text-align': 'center'
                });
                $rad = $("<input />");
                $rad.attr({
                    "type" : "radio",
                    "id" : data[i]['id'],
                    "value" : data[i]['id'],
                    "name" : "animal_linker_selector",
                    "onclick" : "showlinkcontrols()"
                });
                $td.append($rad); // .text(data[i]['id']);
                $tr.append($td);
                // $dropdown.append($("<option />").val(data[i]['id']).text(data[i]['scientific_name'] + ": " + data[i]['common_name']));
                $tbl.append($tr);
            }
        });
    }

    function showlinkcontrols(){
        $('.hidden_table_row').css({
            "visibility" : "visible"
        });
    }

    
</script>
</html>