<!DOCTYPE html>
<meta charset="utf-8">
<title>HeritageWorlds: Pairwise Relationship Search</title>
<body>
<header>
    {% 
     include 'header.html'
    %}
</header>
<main>
  <div class="row align-items-start">
    <div class="top-spacer"></div>
  </div>
  <div class="row align-items-start">
    <div class="form-title"><h2>Explore Pairwise Relationships</h2></div>
  </div>
  <div class="row align-items-start">
    <div class="col-9">
      <div class="form-container-small">
        <table class="form-org-table">
          <tr>
            <td>Relationship:</td>
            <td>
              <select id="ddlSearchTarget" name="ddlSearchTarget" class="form-field">
                <option value="1">Narratives - Animals</option>
                <option value="2">Animals - Narratives</option>
                <option value="3">Narratives - Plants</option>
                <option value="4">Plants - Narratives</option>
                <option value="5">Narratives - Objects</option>
                <option value="6">Objects - Narratives</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Keyword(s):</td>
            <td><input type="text" name="txtSearch" id="txtSearch" value="" class="form-field" /></td>
          </tr>
          <tr>
            <td colspan="2" class="form-buttons"><input class="form-button-small" type="button" name="btnSearch" id="btnSearch" value="Search" onclick="searchrelationships();" /></td>
          </tr>
        
        </table>
        
        <table id="browse_results" class="list_table"></table>
      
      </div>
    </div>
    <div class="col-3">
      <table id="graphnodedetails" class="graphlegend"></table>
    </div>
  </div>
</main>
<script>

var search_map = {
    "1" : ["Narrative", "Animal"],
    "2" : ["Animal", "Narrative"],
    "3" : ["Narrative", "Plant"],
    "4" : ["Plant", "Narrative"],
    "5" : ["Narrative", "Object"],
    "6" : ["Object", "Narrative"]
}



function renderresults(search_target, keywords){
    
    // load the data
    var search_url = "relationships_search?search_target=" + search_target + "&keywords=" + keywords;
    // console.log(search_url);

    $.getJSON(search_url, function(data) {
        // console.log(data);
        $tbl = $('#browse_results');
        $tbl.empty();
        if(data){
            var nodemap = {};
            for(var i=0; i<data['nodes'].length; i++){
                // console.log(data['nodes'][i]);
                
                if(data['nodes'][i]['group'].toLowerCase().includes(search_map[search_target][0].toLowerCase())){
                    $tr = $('<tr></tr>');
                    $td = $('<td></td>');
                    $a = $('<a></a>');
                
                    // var href = "view_entity?entity_id=" + data[i]['id'] + "&entity_label=" + label_map[$('#ddlBrowseTarget').val()] + "&browse_target=" + $('#ddlBrowseTarget').val();;
                    var href = "view_entity?entity_id=" + data['nodes'][i]['id'] + "&entity_label=" + search_map[search_target][0] + "&browse_target=" + search_map[search_target][0].toLowerCase() + "s";
                    $a.attr({
                        "href" : href
                    });
                    $a.text(data['nodes'][i]['display_name']);
                    $td.append($a);

                    // $td.text(data['nodes'][i]['display_name']);
                    $tr.append($td);

                    $td = $('<td></td>');
                    // $ul = $('<ul></ul>');
                    $td.attr({
                        "id" : data['nodes'][i]['id']
                    });
                    $td.append(get_connected_nodes(data['nodes'], data['edges'], data['nodes'][i]['id'], search_target));
                    // $td.append($ul);
                    $tr.append($td);
                    $tbl.append($tr);
                }
            }
        }
    });
  }

function searchrelationships(){
   var search_target = $('#ddlSearchTarget').val();
   var keywords = $('#txtSearch').val();

   renderresults(search_target, keywords);
}

function get_connected_nodes(nodes, edges, parent_node_id, search_target){
    // console.log(edges);
    $sub_tbl = $('<table></table>');
    $sub_tbl.attr({"class":"sub_list_table"});
    for(var i=0; i<edges.length; i++){
        if(edges[i]['target'] == parent_node_id){
            // console.log(edges[i]['source']);
            for(var j = 0; j<nodes.length; j++){
                if(nodes[j]['id'] == edges[i]['source']){
                    // console.log("HERE");
                    $sub_tr = $('<tr></tr>');
                    $sub_td = $('<td></td>');
                    $a = $('<a></a>');
                
                    // var href = "view_entity?entity_id=" + data[i]['id'] + "&entity_label=" + label_map[$('#ddlBrowseTarget').val()] + "&browse_target=" + $('#ddlBrowseTarget').val();;
                    var href = "view_entity?entity_id=" + nodes[j]['id'] + "&entity_label=" + search_map[search_target][1] + "&browse_target=" + search_map[search_target][1].toLowerCase() + "s";
                    $a.attr({
                        "href" : href
                    });
                    $a.text(nodes[j]['display_name']);
                    $sub_td.append($a);
                    // console.log(nodes[j]['display_name']);
                    $sub_tr.append($sub_td);   
                    $sub_tbl.append($sub_tr);     
                }
            }
        }
    }
    console.log($sub_tbl);
    return $sub_tbl;
}

</script>

</body>
