<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>HeritageRoots: Search</title>
</head>
<body>
<header>
    {% 
     include 'header.html'
    %}
</header>

<main>
  <div class="row align-items-start">
    <div class="top-spacer"></div>
  </div>
  <div class="row align-items-start">
    <div class="form-title"><h2>Search Observed Events</h2></div>
  </div>
  <div class="row align-items-start">
    <div class="col-3">
      <div class="form-container-small">
        <table class="form-org-table">
          <tr>
            <td>Keyword:</td>
            <td>
                <input type="text" name="txtSearchKeyword" id="txtSearchKeyword" value="" class="form-field-small" />
            </td>
          </tr>
          <tr>
            <td colspan="2" class="form-buttons"><input class="form-button-small" type="button" name="btnSearch" id="btnSearch" value="Search" onclick="search_events();" /></td>
          </tr>
        
        </table>
      </div>
    </div>
    <div class="col-8">
        <table id="browse_results" class="list_table">
          
        </table>
    </div>
    
  </div>
</main>
</body>


<script>

var attributes = ['order', 'family', 'genus', 'species', 'datetimestart']
function list_results(data){
    if(data){
        if(data.length > 0){
            console.log(data);
            $tbl = $('#browse_results');
            // console.log($tbl);
            $tbl.empty();

            $tr = $('<tr></tr>');
            for (var j = 0; j<attributes.length; j++) {
                $th = $('<th></th>');
                $th.text(attributes[j]);
                $tr.append($th);
            }
            $th = $('<th></th>');
            $th.text("Details");
            $tr.append($th);
            $tbl.append($tr);
            for(var i = 0; i<data.length; i++){
                $tr = $('<tr></tr>');
                for (var j = 0; j<attributes.length; j++) {
                    $td = $('<td></td>');
                    var val = data[i][attributes[j]]
                    if(val == "" || val == null){
                        $td.html("&nbsp;");
                    }
                    else{
                        $td.text(val.substring(0, 200));
                    }
                    $tr.append($td)
                    
                }
                
                $td = $('<td></td>');
                $a = $('<a></a>');
                
                var href = "event_details?event_id=" + data[i]['id'];
                $a.attr({
                    "href" : href
                });
                $a.text("[details]");
                $td.append($a);
                $tr.append($td);
                
                
                $tbl.append($tr)
            }

        }
    }
    
}



function search_events(){
  $searchterm = $('#txtSearchKeyword');
  
  searchterm = $searchterm.val();
  

  var searchurl = "event_search?searchterms=" + searchterm; 
  // console.log(searchurl);

  $.getJSON(searchurl, function(data){
    // console.log(data);
    list_results(data);
  });
  
};
</script>
</html>