<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HeritageRoots: Our Team</title>
    
</head>

<body>
    <header>
        {% include 'header.html' %}
    </header>

    <main>
        <div id="home" class="landing">
            <div class="row align-items-start">
                <div class="top-spacer"></div>
            </div>
            <div class="row align-items-start">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="form-container" >
                        <h3>Dmitriy Babichenko</h3>
                        <img class="profile-photo" src="{{url_for('static',filename='images/profiles/dmitriy_profile_bw.webp')}}" /><br />
                        Clinical Associate Professor <br />
                        Department of Informatics and Networked Systems <br />
                        School of Computing and Information <br />
                        University of Pittsburgh <br />
                        <a href="http://dmitriyb.com">dmitriyb.com</a>
                    </div> 
                    <br />
                    <div class="form-container" >
                        <h3>Fall 2023 Undergraduate Team</h3>
                        <h5>University of Pittsburgh</h5>
                        <ul>
                            <li>Max Bondi <i>(Information Sciences)</i></li>
                            <li>Kyra Schultz <i>(DNID)</i></li>
                            <li>Jiyi Liu <i>(DNID)</i></li>
                            <li>Oscar Mailman <i>(DNID)</i></li>
                        </ul>
                    </div> 
                </div>
                <div class="col-5">
                    <div class="form-container" >
                        <h3>Tod Swanson</h3>
                        <img class="profile-photo" src="{{url_for('static',filename='images/profiles/tod_swanson.jpeg')}}" /><br />
                        Associate Professor, SHPRS Religious Studies Faculty <br />
                        Affiliate Faculty, Center for the Study of Religion and Conflict<br />
                        Senior Global Futures Scientist, Global Futures Scientists and Scholars, Arizona State University
                    </div> 
                    <br />
                    <div class="form-container" >
                        <h3>Spring 2024 Undergraduate Team</h3>
                        <h5>University of Pittsburgh</h5>
                        <ul>
                            <li>Max Bondi <i>(Information Sciences)</i></li>
                            <li>Paige Branagan <i>(DNID)</i></li>
                            <li>Kyley Coleman <i>(DNID)</i></li>
                            <li>Brit Dao <i>(DNID)</i></li>
                            <li>Emily Hann <i>(Anthropology, DNID)</i></li>
                            <li>Anirudh Iyer <i>(Computer Science)</i></li>
                            <li>Conor McGirr <i>(Information Sciences)</i></li>
                            <li>Aidan Mchugh <i>(Computer Science)</i></li>
                            <li>Hannah Mencer <i>(Information Sciences)</i></li>
                            <li>Angeline Pho <i>(DNID)</i></li>
                            <li>Al Pratt <i>(Information Sciences)</i></li>
                            <li>Pranav Rajupalepu <i>(DNID)</i></li>
                            <li>Sydney Rodriguez <i>(DNID)</i></li>
                            <li>Kyra Schultz <i>(DNID)</i></li>
                            <li>Helena Steffens <i>(Information Sciences)</i></li>
                            <li>Grace Ward <i>(DNID)</i></li>
                            <li>Liam Weixel <i>(English Composition, Film Studies)</i></li>
                        </ul>
                    </div> 
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </main>

</body>   

</html>