<html>   
<head>   
    <title>HeritageWorlds: Update Object Entry</title>   
    <script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <script src="{{url_for('static',filename='utils.js')}}"></script>
    <script>
        var entity_id = ""; 
        var entity_label = "";
    </script>
</head>   
<body>   
    <header>
        {% include 'header.html' %}
    </header>

    <main>
    <div class="container">
        <div class="row align-items-start">
            <div class="top-spacer"></div>
        </div>
        <div class="row align-items-start">
            <div class="col-6">
                <form action="update_object_data_node" method="POST">   
                    <input type="hidden" name="object_id" id="object_id" value="" />
                    <input type="hidden" name="label" id="label" value="Object" />
                    
                    <table class="form-org-table">
                        <tr>
                            <td colspan="3" class="form-title">Update Object Entry</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="divider-container"></td>
                        </tr>
                        <tr>
                            <td class="form-label-text">Object Name:</td>
                            <td><input class="form-field-small" type="text" name="txt_object_name" id="txt_object_name" value="" style="width: 500px;" /></td>
                        </tr>
                        <tr>
                            <td class="form-label-text">Description:</td>
                            <td><textarea class="form-field-small" name="txt_description" id="txt_description" value="" style="width: 500px; min-height: 200px;"></textarea></td>
                        </tr>
                        <tr>
                            <td class="form-label-text">Notes:</td>
                            <td><textarea class="form-field-small" name="txt_notes" id="txt_notes" value="" style="width: 500px; min-height: 200px;"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="form-buttons">
                                <input class="form-button-small" type = "submit" name="btn_save" id="btn_save" value="Save" /> 
                                <input class="form-button-small" type = "button" name="btn_cancel" id="btn_cancel" value="Cancel" onclick="document.location.href='create';" /> 
                            </td>
                        </tr>
                    </table>
                    
                    
                </form> 
            </div>  
            <div class="col-2">
                
            </div>
            <div class="col-4">
                <div class="linked_lists">
                    <p class="form-label-text">External Media</p>
                    <table class="linked_lists_table" id="media_list"></table>
                </div>
                <div class="linked_lists_button">
                    <input class="form-button-small" type="button" value="Link Media" name="btnLinkMedia" id="btnLinkMedia" onclick="link_media();" />
                </div>
                <div class="linked_lists">
                    <p class="form-label-text">Files</p>
                    <table class="linked_lists_table" id="file_list"></table>
                </div>
                <div class="linked_lists_button">
                    <input class="form-button-small" type="button" value="Link File" name="btnLinkFile" id="btnLinkFile" onclick="link_file();" />
                </div>
                <div class="linked_lists">
                    <p class="form-label-text">Countries</p>
                    <table class="linked_lists_table" id="country_list"></table>
                </div>
                <div class="linked_lists_button">
                    <input class="form-button-small" type="button" value="Link Country" name="btnLinkCountry" id="btnLinkCountry" onclick="link_country('INDIGENOUS_TO');" />
                </div>
                <div class="linked_lists">
                    <p class="form-label-text">Plants</p>
                    <table class="linked_lists_table" id="plant_list"></table>
                </div>
                <div class="linked_lists_button">
                    <input class="form-button-small" type="button" value="Link Plant" name="btnLinkPlant" id="btnLinkPlant" onclick="link_plant();" />
                </div>
                <div class="linked_lists">
                    <p class="form-label-text">Animals</p>
                    <table class="linked_lists_table" id="animal_list"></table>
                </div>
                <div class="linked_lists_button">
                    <input class="form-button-small" type="button" value="Link Animal" name="btnLinkAnimal" id="btnLinkAnimal" onclick="link_animal();" />
                </div>
                <div class="linked_lists">
                    <p class="form-label-text">Narratives</p>
                    <table class="linked_lists_table" id="narrative_list"></table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>   
<script>
    $(document).ready(function(){
        
        entity_id = getrequest('object_id');
        entity_label = "Object";
        
        
        
        if(entity_id != ''){

            $('#object_id').val(entity_id);

            get_objects(entity_id);

            media_url = "get_media_list?entity_id=" + entity_id + "&entity_label=" + entity_label;
            populate_list(media_url, 'url', 'url', 'media_list', 'Media')

            file_url = "get_file_list?entity_id=" + entity_id + "&entity_label=" + entity_label;
            populate_list(file_url, 'file_name', 'file_name', 'file_list', 'File')

            country_data_url = "get_countries?entity_id=" + entity_id + "&entity_label=" + entity_label;
            populate_list(country_data_url, 'country_name', 'country_name', 'country_list', 'Country')

            narrative_data_url = "get_narratives?entity_id=" + entity_id + "&entity_label=" + entity_label;
            populate_list(narrative_data_url, 'title', 'title', 'narrative_list', 'Narrative')

            plant_data_url = "get_plants?entity_id=" + entity_id + "&entity_label=" + entity_label;
            populate_list(plant_data_url, 'scientific_name', 'scientific_name', 'plant_list', 'Plant')

            animal_data_url = "get_animals?entity_id=" + entity_id + "&entity_label=" + entity_label;
            populate_list(animal_data_url, 'scientific_name', 'scientific_name', 'animal_list', 'Animal')
                    
        }
    });

    function get_objects(entity_id){
            var url = "get_objects?entity_id="+entity_id;
            console.log(url); 
            $.getJSON(url, function(data){
                // console.log(data);
                if(data){
                    $('#txt_object_name').val(data[0]['object_name']);
                    $('#txt_description').val(data[0]['description']);
                    $('#txt_notes').val(data[0]['notes']);
                }
            });
        }
    
</script>
</html>