<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  
</head>
<body>
<header>
    {% 
     include 'header.html'
    %}
</header>

<main>
  <div class="row align-items-start">
    <div class="top-spacer"></div>
  </div>
  <div class="row align-items-start">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="tabs">
            <ul id="tabs-nav">
              <li><a href="#tab_description">Description</a></li>
              <li><a href="#tab_media">Media</a></li>
              <li><a href="#tab_narratives">Narratives</a></li>
              <li><a href="#tab_objects">Objects</a></li>
              <li><a href="#tab_animals">Animals</a></li>
              <li><a href="#tab_plants">Plants</a></li>
              <li><a href="#tab_countries">Countries</a></li>
            </ul> <!-- END tabs-nav -->
            <div id="tabs-content">
              <div id="tab_description" class="tab-content">
                <h2 id="browse_title">Description</h2>
                <table id="browse_results" class="details_table"></table>
              </div>
              <div id="tab_media" class="tab-content">
                <iframe  id="media_viewer"></iframe>
              </div>
              <div id="tab_objects" class="tab-content">
                <h2>Objects</h2>
                <div class="linked_lists">
                    <table class="linked_lists_table" id="object_list"></table>
                </div>
              </div>
              <div id="tab_animals" class="tab-content">
                <h2>Animals</h2>
                <div class="linked_lists">
                    <table class="linked_lists_table" id="animal_list"></table>
                </div>
              </div>
              <div id="tab_plants" class="tab-content">
                <h2>Plants</h2>
                <div class="linked_lists">
                    <table class="linked_lists_table" id="plant_list"></table>
                </div>
              </div>

              <div id="tab_countries" class="tab-content">
                <div class="linked_lists">
                    <table class="linked_lists_table" id="country_list"></table>
                </div>
              </div>

              <div id="tab_narratives" class="tab-content">
                <div class="linked_lists">
                    <h2>Narratives</h2>
                    <table class="linked_lists_table" id="narrative_list"></table>
                </div>
              </div>
            </div> <!-- END tabs-content -->
          </div> <!-- END tabs -->
    </div>
    <div class="col-1"></div>
  </div>
</main>
</body>

<script>



$(document).ready(function(){
    browse();
    
    // Show the first tab and hide the rest
    $('#tabs-nav li:first-child').addClass('active');
    $('.tab-content').hide();
    $('.tab-content:first').show();

    // Click function
    $('#tabs-nav li').click(function(){
    $('#tabs-nav li').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    
    var activeTab = $(this).find('a').attr('href');
    $(activeTab).fadeIn();
    return false;
    });
    
});


function show_results(data){
    var entity_label = getrequest("entity_label");
    if(data){
        if(data.length > 0){
            $h2 = $("#browse_title");
            $tbl = $('#browse_results');
            $tbl.empty();
            // console.log(data);
            if(entity_label == "Narrative"){
                $h2.text(data[0]['n']['title'])
                $tr = $('<tr></tr>');
                $td = $('<td></td>');
                $td.css({
                    "border" : "0px"
                });
                $td.text(data[0]['n']['text']);
                $tr.append($td);
                $tbl.append($tr);
            }
            else{
                for (const [key, value] of Object.entries(data[0]['n'])) {
                    if(key != "id"){
                        $tr = $('<tr></tr>');
                        $td = $('<td></td>');
                        $td.text(capitalize(key));
                        $tr.append($td)
                        
                        $td = $('<td></td>');
                        $td.text(value);
                        $tr.append($td);

                        $tbl.append($tr);
                    }
                        
                }
            }
                
            
            

        }
    }
    
}



function browse(){
  var browse_target = getrequest("browse_target"); // "narratives";
  var entity_id = getrequest("entity_id");
  var entity_label = getrequest("entity_label");
  
  var searchurl = "browse_entities?browse_target=" + browse_target + "&starts_with=&entity_id=" + entity_id;
  // console.log(searchurl);
  $.getJSON(searchurl, function(data){
    // console.log(data);
    show_results(data);

    load_list_views(entity_id, entity_label);
  });
  
}

function load_list_views(entity_id, entity_label){
    if(entity_id != ''){
        
        media_viewer_url = "mediaviewer?entity_id=" + entity_id + "&entity_label=" + entity_label;
        $('#media_viewer').attr(
            "src", media_viewer_url
        );
        
        country_data_url = "get_countries?entity_id=" + entity_id + "&entity_label=" + entity_label;
        populate_list(country_data_url, 'country_name', 'country_name', 'country_list', 'Country')

        narrative_data_url = "get_narratives?entity_id=" + entity_id + "&entity_label=" + entity_label;
        console.log(narrative_data_url);
        populate_list(narrative_data_url, 'title', 'title', 'narrative_list', 'Narrative')

        plant_data_url = "get_plants?entity_id=" + entity_id + "&entity_label=" + entity_label;
        populate_list(plant_data_url, 'scientific_name', 'scientific_name', 'plant_list', 'Plant')

        animal_data_url = "get_animals?entity_id=" + entity_id + "&entity_label=" + entity_label;
        populate_list(animal_data_url, 'scientific_name', 'scientific_name', 'animal_list', 'Animal')

        object_data_url = "get_objects?entity_id=" + entity_id + "&entity_label=" + entity_label;
        populate_list(object_data_url, 'object_name', 'object_name', 'object_list', 'Object')
                
    }
}
</script>
</html>